.api .api-head {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.api .api-method {
    font-weight: 500;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    background: #000;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    color: #fff;
    text-transform: uppercase;
}

.api .api-method.get {
    background: #61affe;
}

.api .api-method.head {
    background: #9012fe;
}

.api .api-method.post {
    background: #49cc90;
}

.api .api-method.put {
    background: #fca130;
}

.api .api-method.delete {
    background: #f93e3e;
}

.api .api-method.options {
    background: #0d5aa7;
}

.api .api-method.patch {
    background: #50e3c2;
}

.api .api-path {
    padding-left: 10px;
    font-weight: 600;
}

.api .api-desc {
    padding-left: 10px;
    font-weight: 400;
}

.api-table {
    border: 0;
}

.api-table .api-table-row {
    border-top: 1px solid #eaeaea;
}

.api-table .api-table-row:first-child {
    border-top: 0;
}

.api-table .api-table-cell {
    border: 0;
    vertical-align: top;
}

.api-table .api-table-cell:last-child {
    width: 100%;
}

.api-table .api-title-row {
    font-weight: 700;
}

.api-table .api-param-name {
    font-size: 16px;
    font-weight: 400;
}
.api-table .api-param-optional {
    font-size: 10px;
    text-transform: uppercase;
}

.api-table .api-param-type {
    border-radius: 2px;
    white-space: nowrap;
    color: #5e5e5e;
    background: #FFF7DD;
    border: 1px solid #fbf0cb;
    padding: 0px 2px;
}

.api .api-table-expand {
    padding: 0 0 10px;
}