.http-code.status-1xx .status-dot {
    color: #9c27b0;
}
.http-code.status-2xx .status-dot {
    color: #4caf50;
}
.http-code.status-3xx .status-dot {
    color: #2196f3;
}
.http-code.status-4xx .status-dot {
    color: #ffc107;
}
.http-code.status-5xx .status-dot {
    color: #f44336;
}
.http-code .status-code {
    display: inline-block;
    width: 50px;
    font-weight: 500;
    padding-left: 10px;
}
.http-code .status-desc {
    padding-left: 10px;
}