.tabs .tabs-content {
    border: 1px solid #E6ECF1;
    border-top: 0px;
    margin: 0;
    display: block;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tabs .tabs-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.tabs .tabs-nav .tabs-nav-button.first {
    border-left: 1px solid #E6ECF1;
}

.tabs .tabs-nav .tabs-nav-button {
    border: 1px solid #E6ECF1;
    border-left-width: 0;
    outline: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    background-color: #FFFFFF;
}

.tabs .tabs-nav .tabs-nav-button[aria-selected="true"] {
    border-bottom-width: 0;
    margin-bottom: 1px;
}

.tabs .tabs-nav-fill {
    flex-grow: 1;
    border-bottom: 1px solid #E6ECF1;
}
